<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <title>To Buy or Not to Buy</title>
   </head>
   <body>
      <h1>Please press start</h1>
      <button imput type ="submit" id= "start" name = "start">START</button>
      <ul>
         <h2><strong id = "expecteddate" >Date and time of purchase:</strong> {{purchasetime}}</h2>
         <h2><strong>Item sucessfully purchased?:</strong></h2>
         <button imput type ="submit" id= "yes" name = "yes">YES</button>
         <button imput type ="submit" id= "no" name = "no">NO</button>
      </ul>
   </body>
</html>